### Zadatak broj 5

In [4]:
import pandas as pd

In [16]:
data = pd.read_csv('data.txt', sep=",")

In [17]:
data

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,9/8/21,9/9/21,9/10/21,9/11/21,9/12/21,9/13/21,9/14/21,9/15/21,9/16/21,9/17/21
0,NaN,Croatia,45.1,15.2,0,0,0,0,0,0,...,379963,380904,381946,383108,383915,384082,385056,386891,388260,389654